
body{
	color:black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
	background-color: #eeeeee;
    padding-top: 60px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.default-container {
    position: relative;
	padding-left: 15px;	
}
.text-spacing{
	padding-right: 15px;
	padding-bottom: 15px;
}

#footer{
	background-color:#CDC9C9;
	color:#000000;
	display: block;
	padding: 10px;
	height: 40px;
}

.msg-erro{
	color: red; 
}
