body{
	color:black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width:100%;
}
#container{

}

#header{

}

#content{

}

#footer{
 padding: 4rem 0;
  border-top: 1px solid #999999;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  color: #999999;
  text-align: center;
}
div.img {

    margin-top:10px;
	margin-bottom: 10px;
    float: left;
    width: 192px;
	height: 279px;
	position: relative;
    overflow: auto;
}

div.img:hover {
	-webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
	opacity: 0.7;

}
div.img:hover .text{
	height: 150px;
 }

div.img img {
    width: 100%;
    height: auto;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

li a {
    display: block;
    color: black;
    padding: 16px;
	}

.text-category{
	text-align:left;
}
.msg-erro{
	color: red; 
}

