div.img {

    margin-top:10px;
	margin-bottom: 10px;
    float: left;
    width: 192px;
	height: 279px;
	position: relative;
    overflow: hidden;
}

.text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 192px;
	margin: auto;
    height: 0;
    text-align: center;    
    background: rgba(255, 255, 255, 0.7);
 	font-weight: bold;
	transition: height 0.7s ease-out; 
	width:80%; 
	margin-right: 10%;
}

div.img:hover {
	//-webkit-transform: scale(1.2);
    //-moz-transform: scale(1.2);
    //-o-transform: scale(1.2);
    //-ms-transform: scale(1.2);
    transform: scale(1.2);

}
div.img:hover .text{
	height: 150px;
 }

div.img img {
    width: 100%;
    height: auto;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

li a {
    display: block;
    color: black;
    padding: 16px;
	}

a.title-carousel{
	color:black;
	background-color: white;
	
}
a.title-carousel:hover, a.title-carousel:active {
    color:black;		
}


